---
import { getCollection } from "astro:content";
// import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../components/Layout.astro";
import { compareMonthDay, getUrl } from "../../utils";
import ProjectList from "../../components/ProjectList.astro";
import { isLocal, maxDescChars } from "../../consts";

const yearsMap: Record<string, any[]> = {};

(
  await getCollection("blog", ({ id }) => {
    const ids = id.split("/");
    return !ids[ids.length - 1].startsWith("_");
  })
)
  .sort((a, b) => compareMonthDay(b.data.pubDate, a.data.pubDate))
  .map((v) => {
    // ['src','content','newBlogs', '2025']
    const pathnames = v.filePath?.split("/") || [];
    const fromYear = pathnames[3];

    const tmp = {
      title: isLocal ? `${v.data.title} - ${v.data.pubDate}` : v.data.title,
      id: v.id,
      description:
        v.data.description.length > maxDescChars
          ? `${v.data.description.slice(0, maxDescChars)}...`
          : v.data.description,
    };

    if (yearsMap[fromYear]) {
      yearsMap[fromYear].push(tmp);
    } else {
      yearsMap[fromYear] = [tmp];
    }

    return {
      ...v,
      fromYear,
    };
  });

const years = Object.keys(yearsMap).sort(
  (a, b) => Number(b).valueOf() - Number(a).valueOf(),
);
---

<Layout>
  <section>
    {
      years.map((year) => {
        const list = yearsMap[year];
        return (
          <ProjectList
            title={year}
            list={list.map((post) => ({
              url: getUrl(`/blog/${post.id}/`),
              label: post.title,
              description: post.description,
            }))}
            footerDesc="Read Post"
          />
          // <ProjectList title={year}>
          //   <ul>
          //     {list.map((post) => (
          //       <li>
          //         <a class="group" href={getUrl(`/blog/${post.id}/`)}>
          //           <div class="flex justify-between">
          //             <h4 class="group-hover:underline">{post.title}</h4>
          //             <span class="hidden group-hover:inline-block">
          //               Read Post
          //             </span>
          //           </div>
          //         </a>
          //       </li>
          //     ))}
          //   </ul>
          // </ProjectList>
        );
      })
    }
  </section>
</Layout>
