---
import Layout from "../components/Layout.astro";
import ProjectList from "../components/ProjectList.astro";

const webAppsList = [
  {
    label: "LIS NBS",
    description: "实验室信息系统·新生儿筛选测试",
    url: "https://lis-nbs-dev.svc.hadev.org.hk/",
  },
  {
    label: "biubiu加速器官网",
    description: "biubiu加速器官网",
    url: "https://www.biubiu001.com/",
  },
  {
    label: "伊的家官网",
    description: "伊的家品牌官网和相关产品介绍",
    url: "https://yidejia.com",
  },
];

const experimentalList = [
  {
    label: "招聘官网+人才录入后台系统",
    description: "招聘门户系统和人才录入系统 vue3 + element plus",
    url: "https://github.com/Onlylonger/job-portal",
  },
  {
    label: "桌面端商品采集应用",
    description:
      "通过桌面应用嵌入webview拦截接口或者DOM渲染数据，进行采集。 使用 vue3 + electron",
    url: "https://github.com/Onlylonger/one",
  },
  {
    label: "louse-system",
    description: "一个基于soybean-admin-element-plus模版进行开发的后台系统",
    url: "https://github.com/Onlylonger/louse-system",
  },
];

const wechatMiniProgram = [
  {
    label: "伊的家小程序",
    description: "伊的家电商小程序",
    url: "#小程序://伊的家/EytuSlD5idoGUll",
  },
];

const npmPackagesList = [
  {
    label: "@shilong/nrm",
    description: "This is a simple npm registry manager cli tool.",
    url: "https://www.npmjs.com/package/@shilong/nrm",
  },
  {
    label: "wepy-ui-ydj",
    description: "A UI components for wepy framework in wechat mini program",
    url: "https://github.com/YDJ-FE/wepy-ui-ydj",
  },
  {
    label: "wepy-antv-f2",
    description: "Antv/f2 for wepy framework in wechat mini program",
    url: "https://github.com/Onlylonger/wepy-antv-f2",
  },
  {
    label: "mini-program-utils",
    description: "Utils function for wechat mini program",
    url: "https://github.com/Onlylonger/mini-program-utils",
  },
];
---

<Layout>
  <ProjectList title="Web Application" list={webAppsList} target="_blank" />
  <ProjectList title="NPM Packages" list={npmPackagesList} target="_blank" />
  <ProjectList title="Wechat Mini Programs">
    {
      wechatMiniProgram.map((v) => {
        return (
          <li
            class="mini-project-item cursor-pointer hover:opacity-70"
            data-url={v.url}
          >
            {v.label}
            <div class="relative -top-1">
              {v.description && (
                <span class="pl-1 text-sm text-gray-300">{v.description}</span>
              )}
            </div>
          </li>
        );
      })
    }
  </ProjectList>
  <ProjectList
    title="Experiment Projects"
    list={experimentalList}
    target="_blank"
  />
</Layout>

<script>
  import { openMessageBox } from "../react/utils";
  import { copyToClipboard } from "../utils";

  const miniItems = document.querySelectorAll("li.mini-project-item");
  miniItems.forEach((ele) => {
    ele.addEventListener("click", async () => {
      const url = ele.getAttribute("data-url");
      if (!url) return;
      const res = await copyToClipboard(url);
      res && openMessageBox(`链接已复制到粘贴板，请前往微信App搜索`);
    });
  });
</script>
