---
import Link from "./Link.astro";
const {
  class: className,
  underline = true,
  list,
  title,
  footerDesc = "",
  target = "_self",
  ...reset
} = Astro.props;
---

<ul class:list={[className, "flex flex-col gap-3"]} {...reset}>
  <li
    class="pointer-events-none relative top-5 -left-1 text-3xl font-semibold opacity-20"
  >
    {title}
  </li>
  <slot>
    {
      list?.map((v) => {
        return (
          <li>
            <a
              href={v.url}
              target={target}
              rel="noopener noreferrer"
              class:list={[
                "group hover:underline",
                underline ? "hover:decoration-gray-300" : "hover:opacity-70",
                "flex items-center justify-between",
              ]}
            >
              <div>
                {v.label}
                <div class="relative -top-1">
                  {v.description && (
                    <span class="inline-block text-sm text-gray-300 group-hover:underline">
                      {v.description}
                    </span>
                  )}
                </div>
              </div>
              {!!footerDesc && (
                <span class="hidden text-gray-300 group-hover:inline-block">
                  {footerDesc}
                  {">"}
                </span>
              )}
            </a>
          </li>
        );
      })
    }
  </slot>
</ul>
